// ion-card{
//     width: 100%;
// }
ion-title {
  color: white;
}

ion-avatar {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

ion-card {
  margin: 0px;
}
