<ion-menu menuId="first"  slot="start" contentId="orders">
  <ion-header>
    <ion-toolbar>
      <ion-title>Food Spot</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-avatar>
      <ion-img  width="100%" heigth="100%" ></ion-img>
    </ion-avatar>
    <ion-card>
      <ion-note >
       <ion-card-header><h2>About Developer</h2></ion-card-header>
      <ion-item>Name <ion-label>Donnie Drin</ion-label></ion-item>
      <ion-item>Age<ion-label>21</ion-label></ion-item>
      <ion-item>Email<ion-label>waiswadonnie@gmail.com</ion-label></ion-item>
      <ion-button color="success" id="orderbtn">
        <ion-icon name="logo-whatsapp" size="large"></ion-icon>
        <a
          href="{{'https://wa.me/+256759723980'}}"
          target="_blank"
        >
          &nbsp; Whatsapp me
        </a>
      </ion-button>
      </ion-note>
    </ion-card>
  </ion-content>
</ion-menu>