#orderbtn {
  width: 100%;

  background-color: rgb(33, 247, 14);
}
#callbtn {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

ion-button ion-icon {
  position: absolute;
  left: -10px;
}
