a{
    text-decoration: none;
    color: white;
    background-color:white;
}
ion-avatar {
    width:100% !important;
    height : 80% !important;
    max-width: 300px !important;  //any size
    max-height: 100px !important;
    justify-content: center;
    }